<mat-card class="abc">
    <mat-form-field appearance="outline">
      <mat-label>Registration number of the student</mat-label>
      <input matInput [(ngModel)] = "newfirst">
    </mat-form-field>
</mat-card>
<mat-card class="cde">
    <mat-form-field appearance="outline">
        <mat-label>Novelty in idea (score out of 15)</mat-label>
        <input matInput [(ngModel)] = "newlast">
    </mat-form-field>
</mat-card>
<mat-card class="xyz">
    <mat-form-field appearance="outline">
      <mat-label>Completion (score out of 15)</mat-label>
      <input matInput [(ngModel)] = "newaddress">
    </mat-form-field>
</mat-card>
<mat-card class="pqr">
    <mat-form-field appearance="outline">
      <mat-label>Project Report(Score out of 10)</mat-label>
      <input matInput [(ngModel)] = "newemail">
    </mat-form-field>
</mat-card>
<mat-card class="ghi">
    <mat-form-field appearance="outline">
      <mat-label>Presentation Skills (score out of 5)</mat-label>
      <input matInput [(ngModel)] = "newpass">
    </mat-form-field>
</mat-card>
<mat-card class="ghi">
  <mat-form-field appearance="outline">
    <mat-label>Viva (score out of 5)</mat-label>
    <input matInput [(ngModel)] = "newviva">
  </mat-form-field>
</mat-card>



<div class="adder">
  <button class="add" mat-raised-button color="warn" >submit</button>
  <br />
